<div style="padding-top:2rem"> 
    <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
                <img class="logo" src="/assets/logo.png" alt="Andersen" width="100" height="40" style="padding-bottom: 4 rem;"/>
                <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora molestiae facilis ut incidunt officia consequuntur at facere mollitia error assumenda, voluptates praesentium, corporis laudantium iste voluptatibus vitae explicabo temporibus obcaecati?</p>
            </div>
            <div class="col-xs-6 col-md-3">
              <h6>Quick Links</h6>
              <ul class="footer-links">
                <li><a href="/">Home</a></li>
                <li><a href="/characters">Characters</a></li>
                <li><a href="/shop">Shop</a></li>
                <!-- <li><a href="/contact">Conatct Us</a></li> -->
              </ul>
            </div>
            <div class="col-xs-6 col-md-3" >
              <h6>Categories</h6>
              <ul class="footer-links">
                <li><a href="login/">Login</a></li>
                <li><a href="/signup">Signup</a></li>
                
              </ul>
            </div>
          </div>
          <hr/>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text text-center">Copyright &copy;{{currentYear}} All Rights Reserved by 
           <a href="/"> {{title}}</a>.
              </p>
            </div>
          </div>
        </div>
  </footer>
      </div>