
<blockquote class="container text-center" style="padding-top: 2rem;">You can take away my house, all my tricks and toys, but one thing you can't take away – I am Iron Man."   <cite>— Tony Stark, Iron Man 3 (2013)</cite>
  
</blockquote>
<blockquote class="container text-center" style="padding-top: 1rem;">You Were Made To Be Ruled. In The End, You Will Always Kneel.   <cite>— Loki</cite>
  
</blockquote>

<div class="container" style="padding-top: 3rem;">
  <div class="row">
    <div class="col-md-3" *ngFor="let superhero of superheroes">
      <div class="card mb-3" style="width: 18rem;">
        <!-- Loader -->
        <div *ngIf="superhero === null; else superheroData">
          <div class="card-body text-center">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </div>
        <!-- Superhero data once loaded -->
        <ng-template #superheroData>
          <!-- Check if superhero is defined before accessing properties -->
          <ng-container *ngIf="superhero">
            <img [src]="superhero.image?.url || defaultImage" class="card-img-top" [alt]="defaultImage" style="height: 14rem;">
            <div class="card-body">
              <p class="card-text text-center">ID: {{ superhero.id }}</p>
              <h5 class="card-title text-center" style="font-family: Varela Round;">Name : {{ superhero.name }}</h5>
              <!-- Add more data fields as needed -->
              <button type="button" class="btn btn-primary" (click)="openModal(superhero)">More Info</button>
            </div>
          </ng-container>
        </ng-template>
      </div>
    </div>
  </div>
</div>
